footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.footer-separator {
    width: 60px;
    height: 1px;
    background-color: var(--dourado-acetinado);
}
