.grid-mvv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.item-mvv {
    padding: 25px;
    background-color: #F9F8F5;
    border: 1px solid rgba(179, 146, 78, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.item-mvv:hover {
    border-color: var(--dourado-acetinado);
    background-color: var(--branco-puro);
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(27, 38, 49, 0.08);
}

.item-mvv h3 { font-size: 0.85rem; text-align: center; }
.item-mvv p,
.item-mvv ul li { font-size: 0.8rem; line-height: 1.6; }
