.container-tabela {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 30px;
}

.container-tabela table {
    min-width: 700px;
    border-collapse: collapse;
}

thead {
    background-color: var(--azul-meia-noite);
    color: var(--creme-editorial);
}

th {
    padding: 25px 15px;
    border-bottom: 4px solid var(--dourado-acetinado);
}

td {
    padding: 15px 20px;
    border-bottom: 1px solid #F4F2EE;
}

.servico-nome { width: 45%; }
.col-plan { width: 27.5%; text-align: center; }
.col-premium { background-color: rgba(179, 146, 78, 0.03); }

.check-sim { color: var(--dourado-acetinado); font-weight: bold; }
.check-nao { color: #E0E0E0; }

.notas-rodape-tabela p {
    font-size: 0.68rem;
    font-style: italic;
}
